body {
    font: 20px;
    line-height: 1.8;
    color: #f5f6f7;
    font-family: Montserrat;

}
p {
    font-size: 16px;
    max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #000066; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
