body {
    font: 20px;
    line-height: 1.8;
    color: #f5f6f7;
    font-family: Montserrat;
}

h3{
    color:black;
}

p {
    font-size: 16px;
    max-width: 1080px;
    align-content: center;
	margin: 0 auto !important; 
	float: none !important; 
}

.weather1 {
    margin: 0 auto;
}
table th {
    text-align: center !important;
}
tr:nth-child(odd) {
            background-color: lightgrey;
}
.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #000066; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


  
  
 
  /* 
  *************************
  *************************
  Styling for sign up form 
  *************************
  *************************
  */
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      margin-top:50px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color:  white; 
    }
  
    .form-control {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color:black;
    }
  
    .form-title{
      text-align: center;
      color:white;
    }
  
    #signup-status{
      text-align:center;
      font-size: 16px;
      color:white;
    }
    
/*https://www.makeuseof.com/css-background-gradients/?newsletter_popup=1#premium-dark*/

.signup-page{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .signup-page p {
      color:black;
      font-family: Arial, Helvetica, sans-serif;
      font-size:14px;
  }
