body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #0bd3d3;
    color: #ffffff;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
#headShot{
    width: 30%;
    height: auto;
}
*/
.small-logo{
    height: 30px;
    width: 30px;
}

.bioText{

    border-left-style: solid;
    padding-left: 5px;
    border-left-width: 4px;
    border-top-width: 4px;
    border-top-style: solid;
    top: 10px;
    border-right-width: 4px;
    border-right-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    right: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  
}